*, *::before, *::after {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
body {
	margin: 0;
}

img {
	max-width: 100%;
	vertical-align: top;
}
body{
	background:  black;
	font-family: 'Poppins', sans-serif;
}

.navbar{
	display: flex;
	align-items: center;
    padding: 20px;
    }
nav{
	flex: 1;
	text-align: right;
}
nav ul{
	display: inline-block;
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	margin-right: 20px;
}
a{
	text-decoration: none;
	color: rgb(241, 52, 115);
}

h1{
    color:  rgb(241, 52, 115);
}
p{
	color:  rgb(241, 52, 115);;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
	padding-left: 25px;
	padding-right: 25px;
}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col-2{
	flex-basis: 50%;
	min-width: 600px;
}
.col-2 img{
	max-width: 100%;
	padding: 50px 0;
}
col-2 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}

.btn{
	display: inline-block;
	background: rgb(241, 52, 115);
	color: white;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
}

.btn:hover{
	background:  rgb(241, 52, 115);
}

.header .row{
	margin-top: 70px;
}
.categories{
	margin: 70px 0;
}
.col-3{
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
}
.col-3 img{
	width: 100%;
}
.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.col-5{
	flex-basis: 25%;
	padding: 10px;
	min-width: 1000px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}
.col-4{
	flex-basis: 25%;
	padding: 10px;
	min-width: 500px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}
.col-4 img{
	width: 100%;
}

.title{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color:  rgb(241, 52, 115);
}
.title::after{
	content:'';
	background: rgb(241, 52, 115);
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
h4{
	color:  rgb(241, 52, 115);
	font-weight: normal;
}
.col-4 p{
	font-size: 14px;
}

.col-4:hover{
	transform: translateY(-5px);
}

.menu-icon{
	width: 20px;
	margin-left: 20px;	
}
.social{
    margin-left: 20px;
}

@media only screen and (max-width: 639px){
	nav ul{
		position: absolute;
		top: 110px;
		left: 0;
		background: black;
		width: 100%;
		overflow: hidden;
		transition: max-height 0.5s;
	}
	nav ul li{
		display: block;
		margin-right: 50px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	nav ul li a{
		color: white
	}
	.menu-icon{
		display: block;
		cursor: pointer;
	}
}


@media only screen and (max-width: 500px) {
	.row{
		text-align: center;
	}
	.col-2, .col-3, .col-4{
		flex-basis: 100%;
	}

}

